body {
  margin: 0;
  overflow: hidden;
  font-family: verdana, sans-serif;
 
}


#app {
  width: 100vw;
  height: 100vh;   
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

label {
  cursor: pointer;
  color: white;
  background-color: rgb(70, 0, 128);
  padding: 1rem 2rem;
  border-radius: 5px;
  z-index: 1;
}

label:hover {
  background-color: transparent;
  border: 1px solid white;
}

