body {
  margin: 0;
  overflow: hidden;
  font-family: verdana, sans-serif;
 
}


#app {
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#fileLabel {
  cursor: pointer;
  color: white;
  background-color: rgb(70, 0, 128);
  padding: 1rem 2rem;
  border-radius: 5px;
}

#fileInput:hover {
  background-color: transparent;
  border-color: white;
}

